body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
#vmpb {
    border-radius: 10%;
}
#black-social {
    color: black;
}

.socialicon {
    padding: 1%;
}